<html ng-app="stdApp">
	<head>
		<title>Student Management</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/angular-script.js" type="text/javascript"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="js/jQuery/jquery.min.js"></script>
	</head>
	<body>
		<div class="container wrapper" ng-controller="stdController">
			<h2 class="text-center">Student Management</h2>
			<nav class="navbar navbar-default">
				<div class="navbar-header">
				<div class="alert alert-default navbar-brand search-box">
					<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Add Student <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
				</div>
				<div class="alert alert-default input-group search-box">
					<span class="input-group-btn">
						<input type="text" class="form-control" placeholder="Search Students..." ng-model="search_query">
					</span>
				</div>
				</div>
			</nav>
			<div class="col-md-6 col-md-offset-3">
				<div ng-include src="'templates/form.html'"></div>
				
				<div ng-include src="'templates/editFrom.html'"></div>
			</div>
			<div class="clearfix"></div>
			<div class="table-responsive">
				<table class="table table-hover">
					<tr>
						<th>Sl No</th>
						<th>Student Name</th>
						<th>Email</th>
						<th>Gender</th>
						<th>Address</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat="detail in details | filter : search_query">
						<td>{{ detail.std_id }}</td>
						<td>{{ detail.std_name }}</td>
						<td>{{ detail.std_email }}</td>
						<td>{{ detail.std_gender }}</td>
						<td>{{ detail.std_address }}</td>
						<td>
							<button type="button" class="btn btn-warning" ng-click="editInfo()"><span class="glyphicon glyphicon-edit"></span></button>
							<button type="button" class="btn btn-danger" ng-click="deleteInfo()"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</table>
			</div>
		</div>		
	</body>
</html>